@import "base/bbb_mixin";
@import "base/ccc_base";

.menu_header_mobile_outer_wrap {
  position: relative;
  @media (min-width: 768px) {
	display: none;
  }
  @media (max-width: 767px) {
	display: block;
	position: absolute;
	top: 24px;
	left: 15px;

	.menu_header_mobile_open_button {
	  position: relative;
	  @include font_Avenir_Black(13px);
	  color: #ffffff;
	  letter-spacing: 3px;

	  display: block;
	  background: none;
	  outline: none;
	  line-height: 28px;

	}

	.menu_header_mobile_section {
	  display: block;
	  width: 100%;
	  height: 100%;
	  background: #1c1c1c;

	  padding: 24px 15px 15px 15px;

	  position: fixed;
	  top: 0;
	  z-index: 99;
	  left: -151%;
	  visibility: visible;
	  overflow: hidden;
	  opacity: 0.5;

	  &.active {
		visibility: visible;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 1;
		left: 0;
		.menu_header_mobile_close_button {
		  position: fixed;
		}
	  }

	  -webkit-transition: all 0.5s ease-in-out 0.0s;
	  -moz-transition: all 0.5s ease-in-out 0.0s;
	  -o-transition: all 0.5s ease-in-out 0.0s;
	  transition: all 0.5s ease-in-out 0.0s;

	  .menu_header_mobile_close_button {
		display: block;
		position: absolute;
		top: 8px;
		right: 22px;

		@include font_Avenir_Black(13px);
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.3);

		margin: 0;
		padding: 12px;
		letter-spacing: 2px;

	  }

	  ul {
		display: block;
		li {
		  display: block;
		  a {
			display: block;
		  }
		}

	  }

	}

  }

}

.menu_shop_mobile_outer_wrap {
  @media (min-width: 768px) {
	display: none;
  }
  @media (max-width: 767px) {
	display: block;
	position: absolute;
	top: 24px;
	right: 15px;

	.wp_nav_menu_wrap ul.menu_shop_wrap > li.menu_shop_koszyk > a,
	.wp_nav_menu_wrap ul.menu_shop_wrap > li.menu_shop_search_button > a {
	  margin: 0;
	  padding: 0;
	}
	.wp_nav_menu_wrap ul.menu_shop_wrap > li.menu_shop_koszyk > a img {
	  margin: 0;
	  height: auto;
	  max-height: 28px;
	  max-width: 100%;
	}
	.wp_nav_menu_wrap ul.menu_shop_wrap > li.menu_shop_koszyk > a .link_name {
	  display: none;
	}

  }

}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*--------------------*/
/* BLAD404 */
/*--------------------*/
section.blad404_outer_wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 614px;
  .blad404_wrap {
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;

	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);

  }
}

.blad404_naglowek {
  @include font_Avenir_Medium(46px);
  margin: 20px 0;

}

.blad404_opis_bledu_wrap {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin: 20px auto;
  padding: 0;

  .blad404_opis_bledu_bg_white,
  .blad404_opis_bledu_bg_green,
  .blad404_opis_bledu_text {
	@include font_Avenir_Black(50px);
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 3px;
	line-height: 130%;
  }

  .blad404_opis_bledu_bg_white {
	color: #ffffff;
	-webkit-text-fill-color: #ffffff;
	-webkit-text-stroke-width: 16px;
	-webkit-text-stroke-color: #ffffff;
  }
  .blad404_opis_bledu_bg_green {
	color: $main_color;
	-webkit-text-fill-color: $main_color;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: $main_color;
  }
  .blad404_opis_bledu_text {
	position: relative;
	z-index: 99;
	color: #000000;
  }
}

.blad404_naglowek_linkow_wrap {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  margin: 20px auto;
  padding: 0;

  .blad404_naglowek_linkow_bg_white,
  .blad404_naglowek_linkow_bg_green,
  .blad404_naglowek_linkow_text {
	@include font_Avenir_Black(24px);
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 3px;
  }

  .blad404_naglowek_linkow_bg_white {
	color: #ffffff;
	-webkit-text-fill-color: #ffffff;
	-webkit-text-stroke-width: 6px;
	-webkit-text-stroke-color: #ffffff;
  }
  .blad404_naglowek_linkow_bg_green {
	color: $main_color;
	-webkit-text-fill-color: $main_color;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: $main_color;
  }
  .blad404_naglowek_linkow_text {
	position: relative;
	z-index: 99;
	color: #000000;
  }
}

.blad404_linki {
  margin: 10px 0;
  ul {
	display: block;
	width: 100%;
	float: left;

	li {
	  display: inline-block;
	  vertical-align: middle;
	  float: none;
	  margin: 10px 20px 10px 0;
	  @media (max-width: 767px) {
		margin: 10px 20px 10px 20px;
	  }

	}
  }
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*--------------------*/
/* HEADER */
/*--------------------*/

.logo_header_outer_wrap {
  display: inline-block;
  vertical-align: top;
  float: none;
  padding: 14px 0;
  margin: 0 47px 0 0;
  @media (max-width: 1199px) {
	margin: 0 15px 0 0;
  }
  @media (max-width: 991px) {
	display: block;
	width: 100%;
	text-align: center;
	.logo_header_wrap {
	  margin: 0 auto;
	  display: inline-block;
	  float: none;
	}
  }
}

.dane_kontaktowe_szukaj_outer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* DANE_KONTAKTOWE_SZUKAJ_OUTER_WRAP */
  /*--------------------*/
  display: inline-block;
  vertical-align: middle;
  float: none;
  height: auto;
  width: auto;
  margin: 0 47px;

  @media (max-width: 1199px) {
	margin: 0 15px;
	width: 300px;
  }
  @media (max-width: 991px) {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
  }

  .dane_kontaktowe_header_outer_wrap {
	display: inline-block;
	vertical-align: middle;
	float: none;

	@media (max-width: 1199px) {
	  .global_types_wrap {
		display: block;
		float: left;
		width: 100%;
	  }
	}
	@media (max-width: 767px) {
	  display: none;
	}
  }

  .szukaj_header_outer_wrap {
	display: block;
	float: none;
	width: auto;
	margin: 14px auto;
	padding: 0;
	max-height: unset;

	&.in_active {
	  @media (max-width: 767px) {
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		max-height: 0;
		margin: 0;
		padding: 0;
	  }
	}

	-webkit-transition: all 0.5s ease-in-out 0.0s;
	-moz-transition: all 0.5s ease-in-out 0.0s;
	-o-transition: all 0.5s ease-in-out 0.0s;
	transition: all 0.5s ease-in-out 0.0s;

	.szukaj_header_wrap {
	  form .search_submit_wrap input[name="search_input"] {
		@media (max-width: 1199px) {
		  width: 280px;
		}
		@media (max-width: 991px) {
		  width: 100%;
		}
	  }
	}
  }
}

.main_menu_shop_outer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* MAIN_MENU_SHOP_OUTER_WRAP */
  /*--------------------*/
  display: inline-block;
  vertical-align: top;
  float: right;
  width: auto;

  @media (max-width: 991px) {
	display: block;
	width: 100%;
	text-align: center;
  }
  @media (max-width: 767px) {
	display: none;
  }

  .menu_shop_outer_wrap {
	@media (max-width: 991px) {
	  display: block;
	  width: 100%;
	  text-align: center;
	}

	.menu_shop_wrap {
	  @media (max-width: 991px) {
		display: block;
		width: 100%;
		text-align: center;
	  }
	}

  }

}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*--------------------*/
/* FOOTER */
/*--------------------*/

section.section_footer_outer_wrap {
  padding: 0 0 0 0;

  .menu_footer_outer_wrap {
	@media (max-width: 767px) {
	  display: none;
	}
  }

  .line_separator {
	@media (max-width: 767px) {
	  display: none;
	}

  }

}

section.ikony_footer_outer_wrap {
  background-color: #ffffff;
  padding: 0;
  text-align: center;

  @media (max-width: 767px) {
	padding: 20px 0;
  }

}

.logo_dane_kontaktowe_footer_outer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* LOGO_DANE_KONTAKTOWE_FOOTER_OUTER_WRAP */
  /*--------------------*/
  padding: 30px 0;

  @media (max-width: 991px) {
	display: block;
	width: 100%;
	text-align: center;
  }

  .logo_footer_outer_wrap {
	display: block;
	float: left;
	height: 75px;

	@media (max-width: 991px) {
	  text-align: center;
	  display: inline-block;
	  float: none;
	}
	@media (max-width: 767px) {
	  display: none;
	}

	.logo_footer_wrap {
	  .logo_footer_link {
		height: 75px;
	  }
	}

  }
  .dane_kontaktowe_footer_outer_wrap {
	display: block;
	float: right;
	.global_types_wrap {
	  margin: 14px 47px;
	  @media (max-width: 991px) {
		margin: 14px 15px;
	  }
	  &:last-of-type {
		margin: 14px 0 14px 47px;
		@media (max-width: 991px) {
		  margin: 14px 15px;
		}
	  }
	}
  }

}

.menu_footer_copy_outer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* MENU_FOOTER_COPY_OUTER_WRAP */
  /*--------------------*/
  margin: 12px 0 0 0;

  @media (max-width: 991px) {
	display: inline-block;
	float: none;
	text-align: center;
	width: 100%;
  }
  @media (max-width: 767px) {
	padding: 0 0 14px 0;
  }

  .menu_footer_outer_wrap {
	display: block;
	float: left;
	@media (max-width: 991px) {
	  display: inline-block;
	  float: none;
	  text-align: center;
	}
  }
  .prawa_autorskie_footer_outer_wrap {
	display: block;
	float: right;
	@media (max-width: 991px) {
	  display: inline-block;
	  float: none;
	  text-align: center;
	}
	.prawa_autorskie_footer_item {
	  display: inline-block;
	  vertical-align: middle;
	  float: none;
	  margin: 7px 12px;
	}
  }

}