/*⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄*/
/* //todo COLORS */
/*⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆*/
//$org: #73DF09;
//todo #be1522
$main_color: #50E3C2;
//todo #3d3d3d
$gray_3d: #3d3d3d;
//todo #8ec101
$green: #8ec101;

/*⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄*/
/* //todo MIXINS */
/*⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆*/

@mixin font_Avenir_Medium($font_size: 16px) {
  font-family: "Avenir-Medium", sans-serif;
  font-size: $font_size;
  font-weight: normal;
  line-height: 100%;
  white-space: normal;
}
@mixin font_Avenir_Black($font_size: 16px) {
  font-family: "Avenir-Black", sans-serif;
  font-size: $font_size;
  font-weight: normal;
  line-height: 100%;
  white-space: normal;
}

@mixin font_12() {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  padding: 0 0 0 0;
  margin: 0 0 0px 0;
  text-overflow: ellipsis;
  overflow: unset;
}

$vendors: "-moz-", "-webkit-", ""; // you can add other vendor prefixes or remove them without needing to change the mixin.
@mixin rounded($radius: 0.5em) {
  @each $vendor in $vendors {
	#{$vendor}border-radius: $radius;
  }
}

@mixin akcent() {
  display: block;
  width: 135px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}

@mixin circle_image_shadow() {

  -webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, 0.75);

}

@mixin color_mix($opacity: 1.0, $element: 'color', $color: $green ) {

  #{$element}: rgba($color, $opacity);

  //@if $element == "color" {
  //color: rgba($color, $opacity);
  //}
  //@if $element == "bg" {
  //background-color: rgba($color, $opacity);
  //}

}

.element_color {
  @include color_mix(0.80, background-color, $green);
}

.example {
  @include akcent();
  @include circle_image_shadow();
}

.akcent {
  @include akcent();
}

.green_button {

  background-color: $green;
  color: #ffffff;
  display: inline-block;

  /* MEDIA MAX XS */
  @media (max-width: 767px) {
	display: block;
  }

  a {
	display: inline-block;
	font-size: 20px;
	color: inherit;
	background-color: inherit;
	font-weight: 400;
	line-height: 100%;
	padding: 15px 15px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	min-width: 330px;

	@media (max-width: 767px) {
	  width: 100%;
	  min-width: 100%;

	}

  }

  &:hover {
	@include color_mix(0.70, background-color, $main_color);
	@include color_mix(0.95, color, $green);
  }

}