pre {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #777;
  padding: 10px;
  color: #333;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

html {

}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  position: relative;
  display: block;
  float: left;
  overflow: visible;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $gray_3d;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 1px;

}

* {
  white-space: normal;
}

div {
  &:before,
  &:after {
	content: "";
	display: block;
  }

  &:after {
	clear: both;
  }

}

section {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  &:before,
  &:after {
	display: table;
	content: " ";
  }
  &:after {
	clear: both;
  }
}

*:hover, *:focus, *:active,
a:hover, a:focus, a:active,
a, button, input, textarea, keygen, select,
button:hover, button:focus,
input:hover, textarea:hover, keygen:hover, select:hover,
input:focus, textarea:focus, keygen:focus, select:focus {
  border: none;
  outline-offset: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a {
  display: inherit;
  vertical-align: inherit;
  font-size: inherit;
  color: inherit;
  float: inherit;
  width: inherit;

  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;

  > {
	display: inline-block;
	float: none;
	vertical-align: middle;
  }

}

img {
  height: auto;
  width: auto;
  min-height: unset;
  min-width: unset;
  max-height: inherit;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
}

select,
label,
input[type='url'],
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {

  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
  line-height: 100%;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;

}

::-webkit-input-placeholder {
  color: #969696;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: #969696;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: #969696;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: #969696;
  opacity: 1 !important;
}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent !important;
}

input:invalid {
  color: #ff0000;
}

