.content_wysiwyg {

  p.address_styles {
	img {
	  margin: 10px auto 10px 0;
	  &.aligncenter {
		margin: 10px auto;
	  }
	  &.alignright {
		margin: 10px 0 10px auto;
	  }

	  max-width: 96%;
	  border: 1px solid $main_color;
	  outline: 2px solid $green;
	  @include circle_image_shadow();
	}
  }

  h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat-SemiBold", sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 130%;
	color: inherit;
	padding: 0 0 0 0;
	margin: 0 0 24px 0;
	text-align: inherit;

	&:last-of-type {
	  margin: 0 0 0 0;
	}

  }

  img {
	display: inline-block;
	width: auto;
	height: auto;

  }

  p {
	font-family: "Lato-Regular", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 130%;
	color: $gray_3d;
	padding: 0 0 0 0;
	margin: 0 0 22px 0;
	text-align: left;
	letter-spacing: 1.3px;
	&:last-of-type {
	  margin: 0 0 0 0;
	}

  }

  h1, h2 {
	font-size: 36px;
	margin: 0 0 32px 0;
  }

  h3 {
	font-size: 30px;
	margin: 0 0 30px 0;
	letter-spacing: 1px;
  }

  h4 {
	font-family: "Lato-Regular", sans-serif;
	font-size: 30px;
	line-height: 130%;
	margin: 0 0 20px 0;
  }

  h5 {
	font-family: "OpenSans-Light", sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 130%;
	margin: 0 0 24px 0;

	em {
	  font-family: "OpenSans-CondLightItalic", sans-serif;
	  font-style: italic;
	}

  }
  h6 {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	margin: 0 0 24px 0;
  }

  h1, h2, h3, h4, h5, h6 {
	&:last-of-type {
	  margin: 0 0 0 0;
	}
	& + p {
	  margin: 24px 0 24px 0;
	}
	& + p:last-of-type {
	  margin: 24px 0 0 0;
	}
	& + h2:last-of-type,
	& + h3:last-of-type,
	& + h4:last-of-type,
	& + h5:last-of-type,
	& + h6:last-of-type {
	  margin: 32px 0 0 0;
	}
  }

  ul {
	margin: 0;
	padding: 0 0 0 30px;
	list-style: none;
	li {
	  margin: 0;
	  padding: 0 0 22px 15px;
	  position: relative;

	  font-size: 17px;
	  font-weight: 400;
	  line-height: 135%;
	  color: #000000;

	  &:last-of-type {
		padding: 0 0 0 15px;
	  }

	}
  }
  ul + p {
	margin: 18px 0 22px 0;
  }
  ul + p:last-of-type {
	margin: 18px 0 0 0;
  }

  /*⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄⇄*/
  /* //todo TASBLE */
  /*⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆⇆*/

  table {

	font-size: 14px;
	font-weight: 400;
	line-height: 100%;
	color: #1c1c1c;
	padding: 0 0;
	margin: 0 0 0px 0;
	text-align: center;
	border: 1px solid #ffffff;
	height: auto;
	width: 100%;

	tr {
	  height: auto;
	  vertical-align: middle;
	  td {
		height: auto;
		padding: 8px 2px;
		border: 1px solid #ffffff;
		vertical-align: middle;
	  }
	}

	thead {
	  background-color: $main_color;
	  tr {
		td {
		  color: #ffffff;
		}
	  }
	}

  }

}