//@import url('../fonts/font-awesome-4.7.0/css/font-awesome.min.css');
//@import url('../fonts/montserrat/css/montserrat.css');
//@import url('../fonts/lato/css/lato.css');
//@import url('../fonts/open-sans/css/open-sans.css');



.fa.empty {
  &:before {
	color: inherit;
	text-shadow: -1px -1px 0 $main_color,
	1px -1px 0 $main_color,
	-1px 1px 0 $main_color,
	1px 1px 0 $main_color;
  }
}

//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');

// 200
// ExtraLight
// 300
// Light
// 400
// Regular
// 700
// Bold
// 800
// ExtraBold
// 900
// Black


