@import "../base/bbb_mixin";

.page_wrap {
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 1200px) {
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 1200px;
  }
  @media (max-width: 991px) {
  }
}

section.line_separator {
  height: 2px;
  background-color: #4A4A4A;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*--------------------*/
/* LINKI BUTTONY */
/*--------------------*/
.global_link {
  @include font_Avenir_Medium(16px);
  color: #000;
  background-color: #ffffff;
  padding: 22px;
  display: inline-block;
  width: auto;
  float: none;
  text-align: center;
  border-radius: 5px;
  &.color_red {
	color: #ffffff;
	background-color: #a00;
	&:active,
	&:hover,
	&:focus {
	  background-color: #f00;
	}
  }
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*--------------------*/
/* HEADER */
/*--------------------*/

.logo_header_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* LOGO_HEADER_WRAP */
  /*--------------------*/
  display: block;
  float: left;
  .logo_header_link {
	display: block;
	float: left;
	.logo_header_image {
	  display: block;
	  float: left;
	  max-width: 128px;
	  height: auto;
	  width: 100%;

	  @media (max-width: 767px) {
		max-width: 50px;
	  }

	}
  }
}

.wp_nav_menu_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* WP_NAV_MENU_WRAP */
  /*--------------------*/
  ul {
	/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
	/*--------------------*/
	/* DEFAULT */
	/*--------------------*/
	display: inline-block;
	float: none;
	width: auto;
	> li {
	  display: inline-block;
	  float: none;
	  width: auto;
	  margin: 7px 10px 7px 10px;
	  > a {
		@include font_Avenir_Medium(12px);
		padding: 14px 0;
		&:active,
		&:hover,
		&:focus {
		  color: $main_color;
		}
	  }
	}
  }
  ul.menu_header_wrap {
	/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
	/*--------------------*/
	/* MENU_HEADER_WRAP */
	/*--------------------*/
	display: inline-block;
	float: none;
	width: auto;
	> li {
	  display: inline-block;
	  float: none;
	  width: auto;
	  margin: 7px 0 7px 40px;
	  @media (max-width: 991px) {
		margin: 7px 10px 7px 10px;
	  }

	  > a {
		@include font_Avenir_Medium(12px);
		padding: 14px 0;
		&:active,
		&:hover,
		&:focus {
		  color: $main_color;
		}
	  }
	}
  }
  ul.menu_shop_wrap {
	/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
	/*--------------------*/
	/* MENU_SHOP_WRAP */
	/*--------------------*/
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: auto;
	> li {
	  display: inline-block;
	  vertical-align: middle;
	  float: none;
	  width: auto;
	  margin: 0 0 0 40px;
	  @media (max-width: 767px) {
		margin: 0 0 0 20px;
	  }

	  > a {
		@include font_Avenir_Medium(12px);
		padding: 7px 0;
		&:active,
		&:hover,
		&:focus {
		  color: $main_color;
		}
	  }
	  &.menu_shop_koszyk {
		> a {
		  .link_name,
		  img {
			display: inline-block;
			vertical-align: middle;
			float: none;
		  }
		  img {
			margin: 0 16px 0 0;
			height: auto;
			max-height: 36px;
			max-width: 100%;
		  }
		}
	  }
	  &.menu_shop_search_button {
		@media (min-width: 768px) {
		  display: none;
		}

		> a {
		  img {
			margin: 0 0;
			height: auto;
			max-height: 20px;
			max-width: 100%;
		  }
		}
	  }
	}
  }
}

.szukaj_header_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* SZUKAJ_HEADER_WRAP */
  /*--------------------*/
  display: inline-block;
  position: relative;
  float: none;
  width: auto;

  form {
	position: relative;
	overflow: hidden;
	display: block;
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	.search_submit_wrap {
	  display: inline-block;
	  float: none;
	  width: auto;

	  @media (max-width: 767px) {
		min-width: 300px;
	  }
	  @media (max-width: 320px) {
		min-width: 286px;
	  }
	  @media (max-width: 319px) {
		min-width: unset;
	  }

	  input[name="search_input"] {
		@include font_Avenir_Medium(16px);
		color: #000000;
		letter-spacing: 2px;
		display: block;
		position: relative;
		top: 0;
		right: 0;
		width: 456px;
		height: 37px;
		border-radius: 5px;
		padding: 0 10px;
	  }
	  button[type="submit"] {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 37px;
		background: #50E3C2;
		border-radius: 0 5px 5px 0;
		.submit_image {
		  display: block;
		  float: none;
		  margin: 0 auto;
		  max-width: 20px;
		  height: auto;
		  width: auto;

		}

	  }

	}
  }
}

.global_types_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* GLOBAL_TYPES_OUTER_WRAP */
  /*--------------------*/
  display: inline-block;
  vertical-align: middle;
  float: none;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0 10px 0 10px;
  .global_types_ikona {
	display: inline-block;
	vertical-align: middle;
	float: none;
	height: auto;
	width: 100%;
	max-width: 18px;
	margin: 0 14px 0 0;
  }
  .global_types_tekst,
  .global_types_telefon,
  .global_types_mail,
  .global_types_godziny_otwarcia {
	display: inline-block;
	vertical-align: middle;
	float: none;
	width: auto;
	padding: 14px 0;
	margin: 0 10px;
	span.text {
	  @include font_Avenir_Medium(12px);
	}
	&:active,
	&:hover,
	&:focus {
	  color: $main_color;
	}
  }
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/*--------------------*/
/* FOOTER */
/*--------------------*/

.logo_footer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* LOGO_FOOTER_WRAP */
  /*--------------------*/
  display: block;
  float: left;
  .logo_footer_link {
	display: block;
	float: left;
	.logo_footer_image {
	  display: block;
	  float: left;
	  max-width: 100%;
	  max-height: 100%;
	  height: auto;
	  width: auto;
	}
  }
}

.ikony_footer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* IKONY_FOOTER_WRAP */
  /*--------------------*/
  text-align: center;
  .ikona_footer_link {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin: 14px 15px;
	.ikona_footer_image {
	  display: block;
	  max-height: 26px;
	  max-width: 100%;
	  height: auto;
	  @media (max-width: 767px) {
		max-height: 24px;
	  }
	}
  }
}

.prawa_autorskie_footer_wrap {
  /*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
  /*--------------------*/
  /* PRAWA_AUTORSKIE_FOOTER_WRAP */
  /*--------------------*/

  .prawa_autorskie_footer_item {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin: 0 12px;

	&.text {
	  @include font_Avenir_Black(14px);
	}
	&.obraz {
	  max-height: 30px;
	  height: auto;
	  max-width: 100%;
	}

  }

}