section.bulider_with_widget_wrap {
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  section.bulider_wrap {
	position: relative;
	overflow: hidden;
	display: block;
	float: none;
	width: 66%;
	margin: 0 auto;
	padding: 0;
  }

  section.wybrany_widget_wrap {
	position: relative;
	overflow: hidden;
	display: block;
	float: left;
	width: 33%;
	margin: 0 auto;
	padding: 0;

	&.right {
	  float: right;
	}

  }

}

